@import 'tailwindcss';

@layer base {
  * {
    @apply text-white;
  }

  body {
    @apply bg-gray-900 flex flex-col;
  }

  main {
    @apply flex-1;
  }

  h1 {
    @apply text-3xl;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  flex: auto;
}
